$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

$dark-red: hsl(0, 6%, 24%);

//main background
// background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

//button background
// background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));



/* USE GRID TO MOVE IMAGE PLACEMENT */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 23.5rem;
    text-align: center;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));


    .header {
        text-align: left;
        padding: 2rem;
    }

    #banner-desktop {
        display: none;
    }

    .card {
        padding: 3rem 1.5rem;

        h1 {
            font-size: 2.6rem;
            color: $dark-red;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: .75rem;
            margin: 1rem 0;

            span {
                font-weight: 200;
                color: $desaturated-red;
            }
        }

        p {
            color: $desaturated-red;
            line-height: 1.5rem;
            font-size: .96rem;
        }

        form {
            margin: 2rem 0;
            position: relative;

            #email {
                height: 3rem;
                width: 18rem;
                border-radius: 1.5rem;
                border: 1px solid hsl(0, 36%, 85%);
                padding-left: 1.25rem;
                background: none;

                &::placeholder {
                    color: hsl(0, 36%, 85%);
                    font-size: .75rem;
                    letter-spacing: 1px;
                }
            }

            #submit {
                position: absolute;
                right: 1rem;
                background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
                padding: 0 1.6rem;
                height: 3rem;
                text-align: center;
                border: none;
                border-radius: 1.75rem;
                box-shadow: 0px 5px 10px hsl(0, 36%, 85%);

                &:hover {
                    cursor: pointer;
                    background: hsl(0, 100%, 90%);
                }
            }
        }
    }
}







@media only screen and (min-width: 1440px) {
    
    #banner-mobile {
        display: none;
    }

    #banner-desktop {
        display: block;
    }
}



.attribution { 
    font-size: 11px; 
    text-align: center; 

    a { 
        color: hsl(228, 45%, 44%); 
    }
}
