$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

$dark-red: hsl(0, 6%, 24%);

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 23.5rem;
    text-align: center;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

    .header {
        text-align: left;

        #logo {
            padding: 2rem;
        }
        
    }

    .card {
        padding: 3rem 1.5rem;

        h1 {
            font-size: 2.6rem;
            color: $dark-red;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: .75rem;
            margin: 1rem 0;

            span {
                font-weight: 200;
                color: $desaturated-red;
            }
        }

        p {
            color: $desaturated-red;
            line-height: 1.5rem;
            font-size: .96rem;
        }

        form {
            margin: 2rem 0;
            position: relative;

            #email {
                height: 3rem;
                width: 18rem;
                border-radius: 1.5rem;
                border: 1px solid hsl(0, 36%, 85%);
                padding-left: 1.25rem;
                background: none;

                &::placeholder {
                    color: hsl(0, 36%, 85%);
                    font-size: .75rem;
                    letter-spacing: 1px;
                }

                &:focus {
                    outline: none;
                    border: 1px solid hsl(0, 36%, 50%);
                }
            }

            #error-icon {
                position: absolute;
                right: 7rem;
                top: .75rem;
            }

            #error-message {
                font-size: .8rem;
                margin-left: 1.4rem;
                margin-top: .75rem;
                color: $soft-red;
            }

            .error {
                display: none;
            }


            #submit {
                position: absolute;
                right: 1rem;
                background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
                padding: 0 1.6rem;
                height: 3rem;
                text-align: center;
                border: none;
                border-radius: 1.75rem;
                box-shadow: 0px 5px 10px hsl(0, 36%, 85%);

                &:focus {
                    outline: none;
                    border: 1px solid hsl(0, 36%, 50%);
                }
                
            }
        }
    }
}







@media only screen and (min-width: 1440px) {

    main {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20% 80%;
        background-image: url("../images/bg-pattern-desktop.svg");
        background-size: contain;
        background-repeat: no-repeat;

        #banner-img-mobile {
            display: none;
        }

        .desktop-banner {
            grid-column: 2;
            grid-row: span 2;
            background-image: url("../images/hero-desktop.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
         
         .header {
             grid-column: 1;
             grid-row: 1;
             display: flex;
             justify-content: flex-start;
             align-items: center;
             padding-left: 6rem;
             width: 40rem;
             height: 12rem;
             margin: 0 auto;
         }
     
         .card {
             grid-column: 1;
             grid-row: 2;
             text-align: left;
             padding: 3rem 8rem;
             width: 40rem;
             height: 50rem;
             margin: 0 auto;

            h1 {
                font-size: 4.25rem;
            }


            form {

                #email {
                    width: 22rem;
                }

                #submit {
                    padding: 0 2.25rem;

                    &:hover {
                        cursor: pointer;
                        border: none;
                        background:hsl(0, 100%, 90%);
                        box-shadow: 0px 8px 15px hsl(0, 36%, 80%);
                    }
                }
            }
         }
    }


}



.attribution { 
    font-size: 11px; 
    text-align: center; 

    a { 
        color: hsl(228, 45%, 44%); 
    }
}
